<!DOCTYPE html>

<html>

<head>

    <title>Adoptions</title>

</head>

<body>

    <h1>The pets adoption confrimation page</h1>

    <p><%= details.pet_type %></p>

        <p><%= details.quantity %></p>

        <p><%= details.color %></p>


</body>

</html>

